.nav {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 150px;
    height: 300px;
    padding: 20px;

}

.icon {
    font-size: 17px;
    margin-right: 15px;
}

.iconWrapper {
    width: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.iconWrapper:after {
    content: "";
    width: 100%;
    height: 1px;
    border-top: 1px solid #c6c9c9;
    position: absolute;
    bottom: -15px;
    left: 30px;
}

.item {
    font-weight: 500;
}

.item a {
    color: #000;
    text-decoration: none;
}

.item a.active {
    color: #8DC63F;
}

.nonActive {
    font-size: 15px;
    text-decoration: none;
}






