.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    padding: 20px;
}

.otherResources {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.avatar {
    width: 80px;
}

.name {
    text-align: center;
}
